﻿footer {
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 5rem;
    line-height: 5rem;
    padding: 0 25px;
    display: flex;
}

.footer-img {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 25px;
}
