﻿.modal-body {
    min-height: 80vh !important;
}

.modal-dialog {
    width: 100% !important;
}

#myModal {
    padding: 0 !important;
    width: 100vw !important;
    margin: 0 auto !important;
}

.modal-title {
    padding-left: inherit;
}

#modalTable {
    width: 75% !important;
    float: right;
}

    #modalTable td {
        font-size: 1.5rem !important;
    }

    #modalTable th {
        font-size: 1.5rem !important;
        font-weight: 600;
    }

#modalTableHeader {
    width: 100% !important;
}

.search-box, .close-icon, .search-wrapper {
    position: relative;
    padding: 10px;
}

.search-wrapper {
    margin: auto;
}

.search-box {
    width: 100%;
    border: 1px solid #ccc;
    outline: 0;
}

.close-icon {
    padding: 5px !important;
    border-radius: 4px !important;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
    display: none;
}

/*================*/

#myModal table {
    width: 100%;
    table-layout: fixed;
    top: 0;
}

#myModal tbody {
    height: 75%;
}

.tbl-header {
    background-color: rgba(255,255,255,0.3);
}

.tbl-content {
    position: absolute;
    height: 300px !important;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

#myModal tr:hover {
    background-color: #eee !important;
    cursor: pointer;
}
