﻿.form-control:focus {
    border-color: #5B87DA !important;
}

.navbar-white {
    background-color: #fff !important;
    padding: 10px !important;
}

.nav-img {
    width: 33rem;
    height: auto;
    margin-top: -0.5rem;
}

.customer-list-button {
    cursor: pointer;
}

.sliding-middle-out {
    display: inline-block;
    position: relative;
}

.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 100%;
    background: #5B87DA;
}
