﻿.sidenav {
    position: fixed;
    left: 0;
    width: 17.5rem;
    height: 100%;
    background-color: #57585A;
}

    .sidenav .main-buttons {
        list-style-type: none;
        margin: 64px 0;
        padding: 0;
        color: #fff;
    }

        .sidenav .main-buttons li {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.1rem;
            font-weight: 600;
            width: 100%;
            padding: 16px 15px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .sidenav .main-buttons > li:hover, .sidenav .main-buttons > li:active, .sidenav .main-buttons > li:focus {
            background-color: #292c35;
            cursor: pointer;
        }

            .sidenav .main-buttons > li:hover .side-nav-hidden, .sidenav .main-buttons > li:active .side-nav-hidden, .sidenav .main-buttons > li:focus .side-nav-hidden {
                width: 14.3rem;
            }

.sidenav-list-text {
    font-size: 15rem;
}

.side-nav-hidden {
    width: 0;
    height: 100%;
    padding: 64px 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #292c35;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 10;
}

.side-nav-unhidden {
    width: 14.3rem !important;
}

.side-nav-hidden li {
    padding: 16px 0 16px 15px;
}

    .side-nav-hidden li:hover, .side-nav-hidden li:active, .side-nav-hidden li:focus {
        background-color: #323541;
    }

.side-nav-background {
    background-color: #292c35;
}

/* ========== new stuff ===============*/
.sidenav-sub-ul {
    background-color: #fff;
    padding: 0 !important;
    width: 100% !important;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

    .sidenav-sub-ul:active,
    .sidenav-sub-ul:focus {
        background-color: #292c35 !important;
    }

    .sidenav-sub-ul li {
        padding: 8px 8px 8px 10px !important;
        width: 100% !important;
    }

        .sidenav-sub-ul li:hover {
            background-color: #323541 !important;
        }
/*==================================================*/

.sidenav-container {
    margin-top: 68px !important;
    width: 17.5rem !important;
}

.panel-body {
    padding: 0px;
}

    .panel-body table tr td {
        padding-left: 15px;
    }

.panel-title {
    font-size: 12px !important;
}

.panel-body .table {
    margin-bottom: 0px;
}

.sidenav-table-body {
    width: 17.5rem !important;
    height: auto !important;
}

.sidenav-table-body td {
    text-align: left !important;
    width: 100% !important;
    padding-left: 50px !important;
}

.side-table-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.panel-body table tr td {
    padding-left: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

    .panel-body table tr td:hover {
        background-color: #eee !important;
        cursor: pointer;
    }

.panel {
    border-radius: 0 !important;
    border: none !important;
}

.panel-heading {
    background-color: #57585a !important;
    border: none !important;
    border-radius: 0 !important;
}

.panel-group .panel-heading {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.panel-heading:hover,
.panel-heading:active,
.panel-heading:focus {
    background-color: #292c35 !important;
    cursor: pointer !important;
}

.panel-default a {
    color: #eee !important;
}

    .panel-default a:hover,
    .panel-default a:visited,
    .panel-default a:active,
    .panel-default a:focus {
        text-decoration: none;
    }

.panel-group .panel + .panel {
    margin-top: 0px !important;
}

/*=======ARROW ICON ===========*/
