﻿body {
    body;

{
    background-color: #eee;
}

a {
    color: #5B87DA !important;
}

p {
    margin: 0 !important;
}

.glyphicon {
    color: #5B87DA !important;
}

.dontShow {
    display: none;
}

li {
    list-style-type: none;
}
