﻿.submit-btn-main {
    color: #fff !important;
    background-color: #5B87DA !important;
    border-color: #5B87DA !important;
    z-index: 200;
    position: absolute;
    right: 55px;
    top: 3px;
    border-radius: 0 !important;
}

.modal-submit {
    min-height: auto !important;
}
