﻿.table {
    margin-bottom: 0 !important;
    max-width: 88% !important;
    height: 80vh !important;
}

    .table > thead > tr > th,
    .table > thead > tr > td {
        padding: 8px 0 8px 8px !important;
    }

th:hover {
    cursor: pointer;
}

th,
td {
    font-size: 1rem !important;
    width: 8px !important;
    text-align: center !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px 0 8px 8px !important;
    width: 8px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

tbody {
    display: block;
    height: 100%;
    overflow: auto;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

thead {
    width: calc( 100% - 1em );
}
