﻿
.tab {
    position: absolute;
    left: 17.5rem;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    padding: 0;
    background-color: #eee;
    z-index: 100;
}

    .tabs li {
        float: left;
        line-height: 38px;
        overflow: hidden;
        padding: 0;
        position: relative;
    }

    .tabs a {
        background-color: #eff0f2;
        border-bottom: 1px solid #fff;
        color: #5B87DA !important;
        font-weight: 600;
        display: block;
        width: 200px;
        letter-spacing: 0;
        outline: none;
        padding: 0 20px;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border-bottom: 2px solid #5B87DA;
    }

.tabs_item {
    display: none;
    width: 95vw;
}

.tab_content {
    position: relative;
    right: 0;
    max-width: 86vw;
}

.tabs_item h4 {
    font-weight: bold;
    color: #eee !important;
    font-size: 20px;
}

.tabs_item img {
    width: 200px;
    float: left;
    margin-right: 30px;
    max-width: 100% !important;
}

.tabs_item:first-child {
    display: block;
}

.current a {
    color: #eee !important;
    font-weight: 600 !important;
    background: #5B87DA;
}

.side-nav-customer {
    font-size: 1.5rem;
    font-weight: 300;
    color: #57585A;
    margin-top: 14.3px !important;
    margin-right: 15px !important;
    /*border-bottom: 2px solid #57585A;*/
}

.tab-fixed {
    position: fixed;
    z-index: 100;
}

.tab-spacer {
    width: 100%;
    height: 45px;
}

/* ======== SUBMIT BUTTON ==========*/

.ctn {
    z-index: 100;
    text-align: center;
    top: 0;
    margin-top: 72px;
    position: fixed;
    right: 28%;
    left: 72%;
    width: 300px;
}

.btn.submit {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 14px;
    display: inline-block;
    transition: background 0.4s;
    background-clip: padding-box;
    padding: 0;
    font-weight: 600;
    background-color: #5B87DA;
    color: #FFF;
    border: 1px solid transparent;
}

    .btn.submit:hover,
    .btn.submit:focus {
        background-color: #fff;
        color: #5B87DA;
        border: 1px solid #5B87DA;
    }

    .btn.submit span {
        display: inline-block;
    }

        .btn.submit span.action {
            cursor: pointer;
            padding: 7px 15px;
        }

        .btn.submit span.confirmation {
            display: none;
        }

        .btn.submit span.question {
            padding: 7px 15px;
        }

        .btn.submit span.answer {
            cursor: pointer;
            transition: background 0.4s;
            font-size: 12px;
            border-radius: 3px;
            background-clip: padding-box;
            padding: 3px 8px;
            font-weight: 400;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16), inset 0 1px 0 rgba(255, 255, 255, 0.2);
            background-color: #E7E5E5;
            border: 1px solid #A7A7A7;
            color: #727272;
            text-shadow: 0 1px 0 #F3F3F3;
            position: relative;
            margin-right: 5px;
        }

            .btn.submit span.answer:hover,
            .btn.submit span.answer:focus {
                background-color: #ffffff;
            }

    .btn.submit.active .action {
        display: none;
    }

    .btn.submit.active .confirmation {
        display: block;
    }
